aws_region     = "us-east-1"
environment    = "production"
project_name   = "cloud-nexus-hr"
ec2_instance_type = "t3.micro"
rds_instance_type = "db.t3.micro"
db_name        = "cloudnexushr"
db_username    = "admin"
db_password    = "ChangeMe123!"
ssh_key_name   = "your-ec2-key-pair-name"
